    .rating-s {
      color: #FFFFC4;
      font-size: 1.25rem;
    }

    .rating-a {
      color: #A792FE;
      font-size: 1.25rem;
    }

    .rating-b {
      color: #3E86E9;
      font-size: 1.25rem;
    }

    .rating-c {
      color: #468c78;
      font-size: 1.25rem;
    }

    .rating-d {
      color: #7c8081;
      font-size: 1.25rem;
    }